<div class="card">
  <div class="card-header">
    <div class="text-center">
      <h4 style="color: blue;">{{pageTitle}}</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/welcome.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Disney World</h3>
      </div>

      <div class="text-center">@disneyworld</div>
      <div class="text-center">
        <a href="https://thewaltdisneycompany.com/">https://thewaltdisneycompany.com/</a>
      </div>
    </div>
  </div>
</div>
